# Go build artifacts
*.o
*.a
*.log

# Go workspace and dependencies
go.work

# Coverage files
coverage.out
*.cover

# Database files
*.db

# Environment variables
.env
.env.*

# Docker specific files
docker-compose.override.yml
.dockerignore

# Logs
logs
*.log
*.trace
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files and backups
*.swp